@font-face {
	font-family: 'Sukhumvit';
	/*src: url('fonts/sukhumvit-set/SukhumvitSet-Bold.ttf');
  src: url('fonts/sukhumvit-set/SukhumvitSet-Light.ttf');
  src: url('../fonts/sukhumvit-set/SukhumvitSet-Medium.ttf') format('truetype');
  src: url('fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf');*/
 src: url('../fonts/sukhumvit-set/SukhumvitSet-Text.ttf');
   /*src: url('fonts/sukhumvit-set/SukhumvitSet-Thin.ttf');*/
}

body{
    font-family: 'Sukhumvit', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 20px;
    font-weight: bold;
}

.navbar-light .navbar-brand{
    font-size: 24px;
    font-weight: bold;
}

.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

.head-title{
    font-weight: bold;
}

a {
    text-decoration: none;
}

@media (max-width: 576px) {
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
}

/*footer*/
/* .col_white_amrc { color:#FFF;} */
footer { width:100%; padding:25px 0px 25px 0px ;}
.pt2 { padding-top:40px }
.mb10 { padding-bottom:15px ;}

.padding-right { padding-right:10px; }






.text-green-style{
    color: #397d54;
}
.footer-color{
    background: #73c088;
}
.bg-head{
    background: #c0edd0
}